.navbar {
  background-color: #242424;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: #ffffff solid 1px;
}

.navbar {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;


}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #007BFF;
  
  transition: background-color 0.2s;
  transition: transform 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
  color: rgb(165, 162, 255);
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}






.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #007BFF;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}



@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.navbar-brand {
    animation: pulse 2s infinite alternate; /* Apply a continuous pulsing animation */

}

.navbar-text {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}